<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Helsingborg event-api-search</display-name>
  <description>Helsingborg event-api-search</description>

  <listener>
    <listener-class>se.helsingborg.event.search.ServiceWebContextStarter</listener-class>
  </listener>


  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>se.helsingborg.event.search.servlet.SearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReconstructIndexServlet</servlet-name>
    <servlet-class>se.helsingborg.event.search.servlet.ReconstructIndexServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReconstructIndexServlet</servlet-name>
    <url-pattern>/reconstruct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EventModifiedServlet</servlet-name>
    <servlet-class>se.helsingborg.event.search.servlet.EventModifiedServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EventModifiedServlet</servlet-name>
    <url-pattern>/modified/*</url-pattern>
  </servlet-mapping>

</web-app>
